body{
    background-color: rgb(227, 217, 217);
    margin: 0;
    width: 100vh;
    /* background-image: url('./hinhanhTTCS/bglogin.jpg'); 
    background-size: cover; 
    background-position: center;  */
    height: 100vh;
    color: #916434;
}
img{
    width: 40px;
    height: auto;
}
.background{
    background-color: #F8F4E1;
}
#content{
    display: flex;
    width: 100vh;
    height: auto;
    margin-left: 80px;
}
#login{
    margin: 55px 50px 0 50px;
    width: 400px;
    height: 550px;
    border: 2px solid rgb(71, 67, 67);
    border-radius: 10px;
    padding-right: 25px;
}
h1{
    text-align: center;
}
h3{
    margin: 0;
}
#name, #pass{
    padding-left: 20px;
    padding-bottom: 10px;
}
#pass1{
    padding-bottom: 10px;
}
input{
    width: 350px;
    height: 50px;
    border: 2px solid rgb(81, 59, 59) ;
    border-radius: 10px;
    font-size: 25px;
}
#submit{
    padding-top: 30px;
    /* padding-left: 75px; */
}
#sub{
    margin-left: 75px;
    width: 250px;
    height: 40px;
    border: 2px solid rgb(82, 104, 215) ;
    border-radius: 10px;
    background-color: rgb(108, 151, 219);
    
}
#sub a{
    color: rgb(36, 35, 35);
    font-size: 20px;
    text-decoration: none;

}
#Signup a, #quenmk a{
    text-decoration: none;
    color:#321bc4;
}
#Signup a:active, #quenmk a:active{
    text-decoration: none;
    color:#cc3838;
}
#Signup{
    margin-left: 75px;
}
#op3{
    display: flex;
    margin: 16px 0 10px 25px;
}
#linex{
    width: 60px;
    border-top: 2px solid #E4C59E;
    margin:10px 0 0 0;
    height: 1px;
}
#line1{
    margin: 0;
} 
#icon{
    margin-left: 75px;
    padding-left: 65px;
}
#icon img{
    padding-right: 50px;
}
#line2{
    border-top: 2px solid #E4C59E;
    margin: 5px 10px  0 25px;
}
#imgcheck{
    margin-top: 80px;
    margin-left: 50px;
    height: 500px;
    width: auto;
}